*{
   font-family: 'Work Sans', sans-serif;
}/* max width 1440 */

/*shear component*/
.shear-title{
    font-size: 3rem;
   
}
.font-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*banner section*/
.banner{
   max-width: 1440px;
   margin: 0% auto;
}
.banner-container{
    display: flex;
}
.banner-content{
    width: 50%;
    justify-content: center;
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.banner-heading{
    font-size: 8rem;
    margin-top: -40px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.banner-story{
    font-size: 1.4rem;
    margin-top: -90px;

}
/*button desgine*/
.button-container{

}
.pink-btn{
    padding: 21px 40px;
    border-radius: 48px;
    background-color:   #FF42A5;
    color: white;
    font-size: 1.3rem;
    border: none;
}
.blue-btn{
    padding: 21px 40px;
    border-radius: 48px;
    color: white;
    font-size: 1.3rem;
    background-color: #4EC5F7;
    border: none;
    
    
}
/*banner section -end*/

/*online games section*/
.games-section{
    max-width: 1440px;
    margin: 0% auto;
}
.games-container{
    display: flex;
}
.games-card{
    width: 30%;
    padding: 1%;
   
}
.game-description{
    font-size: 1.3rem;
    font-weight: 500;
    color: #534C64;
} 
.games-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

}
.games-story{
    font-size: 1.2rem;
    font-weight: 400;
    color: #534C64;
    text-align: center;
}

/*<!--play instant section-->*/









































@media screen and (max-width: 576px) {
    .banner-container{ /*banner section*/
        flex-direction: column-reverse;
        width: 133%;
        margin: 0%;
    }
    .banner-img-container>img{
        width: 100%;
    }
    .banner-content{
        width: 100%;
     
    }
    .banner-heading{
        font-size: 7rem;
        margin-top: 0%;
       
    
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .button-container{
        width: 100%;
    }


     /*online games section*/
    .games-container{
        flex-direction: column;
    }
    .games-card img{
        width: 25%;
        padding: 1%;
       
    }
    .games-title{
        font-size: 1rem;
    }
    .font-color{
        font-size: 1rem;
        flex-wrap: wrap;
    }
    .games-section-title-div{
        width: 80%;
    }
    /*<!--play instant section-->*/
    


}