*{ 
   font-family: 'Work Sans', sans-serif;
}/* max width 1440 */

/*shear component*/
.shear-title{
    font-size: 3rem;
   
}
.font-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/*nav bar section*/

nav{
    max-width: 1920px;
    padding: 5px;
}
.nav-coantainer{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;

}
.nav-icon{
   display: flex;
   justify-content: center;
   padding-top: 1%;
 
}
.nav-icon img{
    width: 80px;
    height: 40px;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
}
.nav-content{
    display: flex;
    list-style: none;
    gap: 2rem;
    border: #ffffff solid;
    justify-content: center;
}
.nav-content li{
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;

    text-align: center;
    padding-top: 5%;
}
.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 50px 18px 24px ;
    width: fit-content;
    border: none;
    display: flex;
    justify-content: center;
}
.follow-us{
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    
    
}
.nav-tiny-icon img{
    
}


/*banner section*/
.banner{
   max-width: 1920px;
   margin: 0% auto;
   /*background-color: rgba(255, 66, 165, 0.03);*/
   background-image: url('./images/Group\ 14.png');
   background-repeat: no-repeat;
   background-size: 50% 100%;
}
.banner-container{
    display: flex;
    max-width: 1440px;
    margin: 0% auto;

   
}
.banner-content{
    width: 50%;
    justify-content: center;
   

}
.banner-heading{
    font-size: 8rem;
    margin-top: -40px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.banner-story{
    font-size: 1.4rem;
    margin-top: -90px;
    justify-content: center;


}
.tiny-icon >img{ 
    width: 21px;     
}
/*button desgine*/
.button-container{

}
.pink-btn{
    padding: 21px 40px;
    border-radius: 48px;
    background-color:   #FF42A5;
    color: white;
    font-size: 1.3rem;
    border: none;
}
.blue-btn{
    padding: 21px 40px;
    border-radius: 48px;
    color: white;
    font-size: 1.3rem;
    background-color: #4EC5F7;
    border: none;
    
    
}
/*banner section -end*/

/*online games section*/
.games-section{
    max-width: 1440px;
    margin: 0% auto;
}
.games-container{
    display: flex;
}
.games-card{
    width: 30%;
    padding: 1%;
   
}
.game-description{
    font-size: 1.3rem;
    font-weight: 500;
    color: #534C64;
} 
.games-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

}
.games-story{
    font-size: 1.2rem;
    font-weight: 400;
    color: #534C64;
    text-align: center;
}

/*<!--play instant section-->*/

.play-section{
    display: flex;
    max-width: 1440px;
    margin: 0% auto;
    justify-content: space-around;

}
.play-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    padding: 1%;

}
.play-story{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    color: #534C64;
    padding: 1%;

}
.play-content{

    padding: 5%;
    
}
.pic-one{
    padding: 1%;
}
.pic-two{
    border-radius: 8px;
    border: 10px solid #FFF;

    position: relative;
    bottom: 200px;
    right: 200px;
}

/*<!--game-genres section-->*/

.game-genres{
    max-width: 1920px;
    height: fit-content;
    background-color: rgba(255, 66, 165, 0.03);
    margin: 0 auto;
}

.game-genres-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    max-width: 1440px;
    margin: 0% auto;
    padding: 5% 10% 5% ;
  
}
.game-pill{
    display: flex;
    justify-content: center;
    align-items: center;
   /* flex-wrap: wrap;*/
    border-radius: 50px;
    background: #FFF;
    width: fit-content ;
    height: fit-content;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
      
}
/*.game-pill >img{
    width: 60px;
    height: 60px;
}*/
.game-type{
    font-size: 1.3rem;
    font-weight: 600;
    color: #0B0223;
    padding-left: 5px;
 
}



































@media screen and (max-width: 576px) {
    .banner-container{ /*banner section*/
        flex-direction: column-reverse;
        width: 100%;
        margin: 0%;
    }
    .banner-img-container>img{
        width: 100%;
    }
    .banner-content{
        width: 100%;
     
    }
    .shear-title{
        font-size: 2.5rem;
        padding: 1%;
    }
    .banner-heading{
        font-size: 5rem;
      
        padding-bottom: 20%;

    
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .banner-story{
        padding: 2%;
        inline-size: auto;
         font-size: 1rem;
    }
    .tiny-icon >img{ 
        width: 1rem;     
    }
    .button-container{
        width: 100%;
    }


     /*online games section*/
    .games-container{
        flex-direction: column;
        width: 100%;
    }
    .games-card img{
        width: 100%;

    }
    .games-card{
        width: 100%;
    }
    .games-title{
        font-size: 3rem;
        

    }
    .games-story{
        
    }
 
    .games-section-title-div{
        width: 100%;
    }
    /*<!--play instant section-->*/
    .play-section{
        flex-direction: column;

        
    
    }
    .play-title{
        font-size: 3rem;
        font-weight: 700;
        text-align: right;
        padding: 1%;
    
    }
    .play-story{
        font-size: 1.2rem;
        font-weight: 400;
        text-align: right;
        color: #534C64;
        padding: 1%;
    
    }
    .play-content{
    
        padding: 5%;
        
    }
    .play-pic{
        padding: 2%;
    }
    .pic-one{
        padding: 1%;
        width: 95%;
    }
    .pic-two{
        width: 100px ;
        border-radius: 8px;
        border: 10px solid #FFF;
    
        position: relative;
        bottom: 100px;
        right: 10px;
    }
    /*<!--game-genres section-->*/


}